# 파이썬 기초

SBA & 아시아경제연구소 데이터 분석 심화과정

# 1. 첫번째 파이썬 명령어

In [1]:
2+3

5

# 2. 문자열

In [2]:
'01a'

'01a'

In [3]:
"Hi" + 'yonggu 09'

'Hiyonggu 09'

In [4]:
'PIZZA' * 3

'PIZZAPIZZAPIZZA'

In [5]:
# 문자열에 따옴표 넣기

"'Yonggu\' is good."

"'Yonggu' is good."

In [6]:
# 메소드
'Yonggu'.upper()

'YONGGU'

In [7]:
# 함수
len('Yonggu')

6

# 3. 변수

In [8]:
name = 'Yonggu'
name

'Yonggu'

In [9]:
len(name)

6

In [10]:
a = 4
b = 10
a*b

40

In [11]:
# print() 함수
print(name)

Yonggu

# 4. 리스트

In [12]:
[]

[]

In [14]:
number = [20,1,2,3,4,5,6,7]
len(number)

8

In [15]:
# 리스트 정렬
number.sort()
print(number)

[1, 2, 3, 4, 5, 6, 7, 20]

In [16]:
# 리스트에 요소 추가
number.append(9)
print(number)

[1, 2, 3, 4, 5, 6, 7, 20, 9]

In [18]:
# 리스트 인덱싱 : 요소찾기
print(number[8])

9

In [20]:
number.pop(8)

9

In [21]:
print(number)

[1, 2, 3, 4, 5, 6, 7, 20]

# 4. 딕셔너리

In [24]:
{}

{}

In [25]:
menu = {'pizza' : 16500, 'chicken' : 21000, 'hamburger' : 13500}

In [26]:
print(menu['pizza'])

16500

In [27]:
menu['taco'] = 35000

In [28]:
len(menu)

4

# 5. 값 비교하기

In [30]:
10 > 3

True

In [31]:
5 > 2 * 5

False

In [32]:
1 == 1

True

In [33]:
1 != 1

False

In [34]:
a = True
a

True

# 6. 조건문

In [35]:
if 3 >= 3:
    print('wow!')

wow!

In [36]:
if 3 >= 10:
    print('wow!')
else:
    print('oh!')

oh!

In [37]:
name = 'Yonggu'

if name == 'EJ':
    print('Hey EJ')
    
elif name == 'Yonggu':
    print('Hey Yonggu')
    
else:
    print('Who are you?!')

Hey Yonggu

# 7. 주석: # 코드설명

In [42]:
# volume 값을 바꿔보세요!

volume = 15

if volume < 10 or volume > 20:
    print('Good!')
else:
    print('!= Good!')

!= Good!

# 8. 함수: 필요한 기능

In [43]:
def hi():
    print('Hi!')
    print('Happy?')

In [44]:
hi()

Hi!
Happy?

In [45]:
def hi(name):
    if name == 'Yonggu':
        print('Hi Yonggu!')
    elif name == 'EJ':
        print('Hi EJ!')
    else:
        print('Who?!')

In [46]:
hi('EJ')

Hi EJ!

In [49]:
def hi(name):
    print('Hi ' + name  + '!!')

In [50]:
hi('Yonggu')

Hi Yonggu!!

# 9. 반복문: 코딩의 힘, 자동 반복

In [51]:
menu

{'pizza': 16500, 'chicken': 21000, 'hamburger': 13500, 'taco': 35000}

In [52]:
for i in menu:
    print(i)

pizza
chicken
hamburger
taco

In [60]:
wallet = 100000

for i in menu:
    wallet = wallet - menu[i]
    print(i)
    
    if wallet < 70000:
        print('oh, no!')
    else:
        print('Happy')

pizza
Happy
chicken
oh, no!
hamburger
oh, no!
taco
oh, no!

In [61]:
for i in range(2,5):
    print(i)

2
3
4

# END!