# 추천시스템 기초

 __장르 CBF 추천 : 장르를 피처 벡터화한 후 행렬 데이터 값을 코사인 유사도로 계산하기__
 
<프로세스>
1. 장르 피처 벡터화: 문자열로 변환된 genres 칼럼을 Count 기반으로 피처 벡터화 변환
2. 코사인 유사도 계산 : genres 문자열을 피처 벡터화한 행렬로 변환한 데이터 세트를 
   코사인 유사도로 비교
3. 평점으로 계산 : 장르 유사도가 높은 영화 중 평점이 높은 순으로 영화 추천

### Import Library (step.01)

In [1]:
import pandas as pd
import pandas_profiling
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.options.display.max_rows=150
%matplotlib inline
import os

### Load Data (step.02)

In [5]:
rating_file_path=os.getenv('HOME') + '/aiffel/movie_recommendation/ratings.csv'
ratings = pd.read_csv(rating_file_path)
print(ratings.shape)
ratings.head()

(100836, 4)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/movie_recommendation/movies.csv'
movies = pd.read_csv(movie_file_path)
print(movies.shape)
movies.head()

(9742, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### Data Processing (step.03)

In [ ]:
## 사용자-아이템 평점 행렬로 변환

# 필요한 컬럼만 추출
ratings = ratings[['userId', 'movieId', 'rating']]

# pivot_table 메소드를 사용해서 행렬 변환
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')

print(ratings_matrix.shape)
ratings_matrix

In [3]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

#### genres 컬럼의 'name' 만 가져오기

In [6]:
# 1. str to list
from ast import literal_eval
movie_df['genres_list'] = movie_df['genres'].apply(literal_eval)
movie_df['keywords_list'] = movie_df['keywords'].apply(literal_eval)

print(movie_df.shape)
print("type_genres_list: ",  type(movie_df['genres_list'][0]))
print("type_keywords_list: ",  type(movie_df['keywords_list'][0]))

# 2. return dict 'name' 
movie_df['genres_name'] = movie_df['genres_list'].apply(lambda x : [y['name'] for y in x])
movie_df['keywords_name'] = movie_df['keywords_list'].apply(lambda x : [y['name'] for y in x])



movie_df[['genres', 'genres_list', 'genres_name', 'keywords', 'keywords_list', 'keywords_name']].head()

(4803, 22)
type_genres_list:  <class 'list'>
type_keywords_list:  <class 'list'>

,genres,genres_list,genres_name,keywords,keywords_list,keywords_name
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{'id': 1463, 'name': 'culture clash'}, {'id':...","[culture clash, future, space war, space colon..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...","[ocean, drug abuse, exotic island, east india ..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{'id': 470, 'name': 'spy'}, {'id': 818, 'name...","[spy, based on novel, secret agent, sequel, mi..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{'id': 849, 'name': 'dc comics'}, {'id': 853,...","[dc comics, crime fighter, terrorist, secret i..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{'id': 818, 'name': 'based on novel'}, {'id':...","[based on novel, mars, medallion, space travel..."

### CountVectorizer (step.04)

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

# 참고 : CountVectorizer에 대하여
# CountVectorizer는 다음 세가지를 수행한다.
# 1. 문서를 토큰 리스트로 변환한다.
# 2. 각 문서에서 토큰의 출현 빈도를 센다.
# 3. 각 문서를 BOW(Bag of Words) 인코딩 벡터로 변환한다.

from sklearn.feature_extraction.text import CountVectorizer
corpus = [
    'This is the first document.',
    'This is the second second document.',
    'And the third one.',
    'Is this the first document?',
    'The last document?',
]
vect = CountVectorizer()
vect.fit(corpus)
vect.vocabulary_

{'this': 9,
 'is': 3,
 'the': 7,
 'first': 2,
 'document': 1,
 'second': 6,
 'and': 0,
 'third': 8,
 'one': 5,
 'last': 4}

In [9]:
# CountVectorizer를 적용하기 위해 공백문자로 word 단위가 구분되는 문자열로 변환. 
movie_df['genres_literal'] = movie_df['genres_name'].apply(lambda x : (' ').join(x))
movie_df['genres_literal']

0       Action Adventure Fantasy Science Fiction
1                       Adventure Fantasy Action
2                         Action Adventure Crime
3                    Action Crime Drama Thriller
4               Action Adventure Science Fiction
                          ...
4798                       Action Crime Thriller
4799                              Comedy Romance
4800               Comedy Drama Romance TV Movie
4801
4802                                 Documentary
Name: genres_literal, Length: 4803, dtype: object

In [15]:
# CountVectorizer로 학습시켰더니 4803개 영화에 대한 276개 장르의 '장르 매트릭스'가 생성되었다.
count_vect = CountVectorizer(min_df=0, ngram_range=(1, 2)) #min_df: 단어장에 들어갈 최소빈도, ngram_range: 1 <= n <= 2
genre_mat = count_vect.fit_transform(movie_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

### Movie Recommendation (step.05)

#### Cosine_similarity

[NLP - 8. 코사인 유사도(Cosine Similarity)](https://bkshin.tistory.com/entry/NLP-8-%EB%AC%B8%EC%84%9C-%EC%9C%A0%EC%82%AC%EB%8F%84-%EC%B8%A1%EC%A0%95-%EC%BD%94%EC%82%AC%EC%9D%B8-%EC%9C%A0%EC%82%AC%EB%8F%84)

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

# 영화별 장르 유사도 계산한 매트릭스 생성
genre_cosine_similarity = cosine_similarity(genre_mat, genre_mat)
print(genre_cosine_similarity.shape)
genre_cosine_similarity[0]

(4803, 4803)

array([1.        , 0.59628479, 0.4472136 , ..., 0.        , 0.        ,
       0.        ])

In [22]:
# 자료를 정렬하는 것이 아니라 순서만 알고 싶다면 argsort
# 유사도가 높은 영화를 앞에서부터 순서대로 보여줌
# 0번째 영화의 경우 유사도 순서 : 0번, 3494번, 813번, ..., 2401 순서
genre_cosine_similarity_sorted_ind = genre_cosine_similarity.argsort()[:, ::-1] # 전체를 -1칸 간격으로
print(genre_cosine_similarity_sorted_ind[:1])

[[   0 3494  813 ... 3038 3037 2401]]

In [52]:
# 영화별 장르를 기준으로 코사인 유사도에 따라 추천하기

def recommender_movie_genre_cosine_similarity(df, sorted_index, title_name, top_n = 10):
    
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    similar_index = sorted_index[title_index, :(top_n)]
    
    print(similar_index)
    
    similar_index = similar_index.reshape(-1)
    
    return df.iloc[similar_index]

In [65]:
# test: Inception과 유사한 영화 10개 추천

recommemd_movie_test = recommender_movie_genre_cosine_similarity(movie_df, 
                                                                genre_cosine_similarity_sorted_ind,
                                                                'Inception',
                                                                10)

recommemd_movie_test[['title', 'vote_average', 'genres', 'vote_count']]

[[  96  275  607  149 4670   41   76 4077  300  587]]

,title,vote_average,genres,vote_count
96,Inception,8.1,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",13752
275,Minority Report,7.1,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",2608
607,Sky Captain and the World of Tomorrow,5.7,"[{""id"": 9648, ""name"": ""Mystery""}, {""id"": 28, ""...",439
149,Armageddon,6.4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",2482
4670,Mad Max,6.6,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",1213
41,Green Lantern,5.1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",2487
76,G.I. Joe: The Rise of Cobra,5.6,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",1962
4077,Mad Max 2: The Road Warrior,7.3,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",957
300,Starship Troopers,6.7,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",1560
587,The Abyss,7.1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",808

#### Weighted Rating (가중평점)

   (v/(v+m))*R + (m/(v+m))*C

- v : 영화별 평점을 투표한 횟수(vote_count) ★ 투표횟수가 많은 영화에 가중치 부여
- m : 평점을 부여하기 위한 최소 투표 횟수 -> 여기서는 투표수 상위 60%
- R : 개별 영화에 대한 평균 평점(vote_average)
- C : 전체 영화에 대한 평균 평점(movies_df['vote_average'].mean()

C, m은 고정값

v,R은 영화마다 변동값

In [54]:
# 상위 60%에 해당하는 vote_count를 최소 투표 횟수인 m으로 지정
C = movie_df['vote_average'].mean()
m = movie_df['vote_count'].quantile(0.6)

In [55]:
# C: 전체 영화에 대한 평균평점 = 약 6점
# m: 평점을 부여하기 위한 최소 투표 횟수 = 370회(상위 60% 수준)
print('C:',round(C,3), 'm:',round(m,3))

C: 6.092 m: 370.2

In [56]:
# 가중 평점 계산
def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    
    return ( (v/(v+m)) * R ) + ( (m/(m+v)) * C )

In [57]:
# 기존 데이터에 가중평점 칼럼 추가
movie_df['weighted_vote'] = movie_df.apply(weighted_vote_average, axis=1)

In [58]:
# 가중평점(weighted_vote) 기준으로 영화 순위 뽑아보기
movie_df[['weighted_vote','title','vote_average','vote_count','genres']].sort_values('weighted_vote', ascending=False)[:10]

,weighted_vote,title,vote_average,vote_count,genres
1881,8.396052,The Shawshank Redemption,8.5,8205,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name..."
3337,8.263591,The Godfather,8.4,5893,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name..."
662,8.216455,Fight Club,8.3,9413,"[{""id"": 18, ""name"": ""Drama""}]"
3232,8.207102,Pulp Fiction,8.3,8428,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n..."
65,8.136930,The Dark Knight,8.2,12002,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name..."
1818,8.126069,Schindler's List,8.3,4329,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name..."
3865,8.123248,Whiplash,8.3,4254,"[{""id"": 18, ""name"": ""Drama""}]"
809,8.105954,Forrest Gump,8.2,7927,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam..."
2294,8.105867,Spirited Away,8.3,3840,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na..."
2731,8.079586,The Godfather: Part II,8.3,3338,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name..."

### Cosine_similarity + Weighted Rating

장르를 기준으로 코사인 유사도가 높은 영화 20개 산정 후, 가중평점순으로 10개 선정하기

In [69]:
def find_sim_movie_ver2(df, sorted_index, title_name, top_n = 10):
    
    # top_n의 2배에 해당하는 쟝르 유사성이 높은 index 추출
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    similar_index = sorted_index[title_index, :(top_n)*2]

    # 기준 영화 index는 제외
    similar_index = similar_index[similar_index != title_index]
    
    # top_n의 2배에 해당하는 후보군에서 weighted_vote 높은 순으로 top_n 만큼 추출 
    return df.iloc[similar_index].sort_values('weighted_vote', ascending=False)[:top_n]

In [70]:
# test with 'Inception'

recommemd_movie_test = find_sim_movie_ver2(movie_df,
                                           genre_cosine_similarity_sorted_ind,
                                           'Inception',10)

recommemd_movie_test[['title', 'vote_average', 'weighted_vote', 'genres', 'vote_count']]

,title,vote_average,weighted_vote,genres,vote_count
275,Minority Report,7.1,6.974724,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",2608
4077,Mad Max 2: The Road Warrior,7.3,6.963097,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",957
587,The Abyss,7.1,6.783332,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",808
4639,Cube,6.9,6.692205,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 878, ""...",1069
125,The Matrix Reloaded,6.7,6.640990,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",3443
300,Starship Troopers,6.7,6.583422,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",1560
4670,Mad Max,6.6,6.481254,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",1213
271,The Island,6.5,6.429456,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",1770
123,The Matrix Revolutions,6.4,6.367123,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",3096
149,Armageddon,6.4,6.360046,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",2482